@import "_reset";

.wrapper {
}
.page {
	&::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("../img/bg.webp") center / cover no-repeat;
	}
}
.main-screen {
	position: fixed;
	width: 100%;
	min-height: 100vh;
	top: 0;
	left: 0;
	pointer-events: none;
	& * {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		will-change: transform;
	}
}
.moon {
	// .moon__inset
	&__inset {
		span {
			background: url("../img/moon.webp") top / 100% no-repeat;
			height: auto;
			transform: translate(0px, -50%);
			padding-bottom: 36%;
		}
	}
}
.building {
	span {
		width: 110%;
		left: -5%;
	}
	// .building_three
	&_three {
		span {
			background: url("..//img/building-03.webp") bottom / auto 100% repeat-x;
		}
	}
	// .building_two
	&_two {
		span {
			background: url("..//img/building-02.webp") bottom / auto 100% repeat-x;
		}
	}
	// .building_one
	&_one {
		span {
			background: url("..//img/building-01.webp") bottom / auto 100% repeat-x;
		}
	}
	// .building__inset
	&__inset {
	}
}
.train {
	// .train__inset
	&__inset {
		span {
			min-width: 62.5rem;
			left: 50%;
			transform: translate(-50%, 0px);
			background: url("../img/train.webp") bottom/auto 100% no-repeat;
		}
	}
}
.santa {
	// .santa__tree
	&__tree {
		span {
			margin-left: -60vh;
			transform: rotate(90deg);
			background: url("../img/christmas-tree.webp") center / auto 25% no-repeat;
		}
	}
	// .santa__inset
	&__inset {
	}
	// .santa__ball
	&__ball {
		// .santa__ball_one
		&_one {
			span {
				margin-top: -10vh;
				margin-left: -40vh;
				background: url("../img/ball-01.webp") center / auto 2.5% no-repeat;
			}
		}
		// .santa__ball_two
		&_two {
			span {
				background: url("../img/ball-02.webp") center / auto 1.5% no-repeat;
				margin-top: -5vh;
				margin-left: -27vh;
			}
		}
	}
	// .santa__candy
	&__candy {
		// .santa__candy_one
		&_one {
			span {
				background: url("../img/candy-01.webp") center / auto 4.5% no-repeat;
				margin-top: -2vh;
				margin-left: -35vh;
			}
		}
		// .santa__candy_two
		&_two {
			span {
				background: url("../img/candy-02.webp") center / auto 3.5% no-repeat;
				margin-left: -23vh;
			}
		}
	}
	// .santa__man
	&__man {
		span {
			background: url("../img/santa.webp") center / auto 25% no-repeat;
			margin-top: -10vh;
			margin-left: -6vh;
		}
	}
}
.tree {
	// .tree__inset
	&__inset {
		span {
			background: url("../img/tree.webp") bottom / auto 100% repeat-x;
		}
	}
}
.stairs {
	// .stairs__inset
	&__inset {
		span {
			background: url("../img/stairs.webp") bottom / 100% no-repeat;
		}
	}
}
.efx {
	background: url("../img//noise.webp") center repeat;
	will-change: auto;
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&::before {
		mix-blend-mode: overlay;
		background: linear-gradient((180deg, #194153 0%, #16233b 100%));
		opacity: 0.3;
	}
	&::after {
		background: radial-gradient(50% 50% at 50% 50%, rgba(4, 33, 58, 0) 0%, #04213a 100%);
		opacity: 0.5;
	}
}
//========================================================================================================================================================
.content {
	padding-top: 300vh;
	padding-bottom: 3.125rem;
	color: #fff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	// .content__container
	&__container {
		position: relative;
		margin: 0 auto;
		max-width: 78.75rem;
		padding: 1.875rem;
		background-color: rgba(22, 35, 59, 0.8);
	}
	// .content__title
	&__title {
		font-size: 2.125rem;
		text-transform: uppercase;
		margin-bottom: 1.875rem;
	}
	// .content__body
	&__body {
		p {
			line-height: 150%;
			&:not(:last-child) {
				margin-bottom: 1.875rem;
			}
		}
	}
}
//========================================================================================================================================================
